/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {

    /* ----COLORS---- */

    /* 80's theme */
    --clr-purple: rgba(212, 102, 229, 1);
    --clr-green: rgba(12, 242, 219, 1);
    --clr-yellow: rgb(254, 228, 64);

    /* ? */
    --clr-lavender: (rgb(230, 230, 250));

    /* hamburger colors */
    --clr-burger: rgb(165, 42, 42);
    --clr-buns:  rgb(205, 150, 64);

    /* neutral colors */
    --clr-light: rgb(255, 255, 255);
    --clr-med: rgb(128, 128, 128);
    --clr-dark: rgba(0, 0, 0, 1);

    /* transparent */
    --clr-clear: transparent;
}

/* ----------------- */
/* Reset             */
/* ----------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;
    /* 16px = 1rem */
    scroll-behavior: smooth;
}

/* ----------------- */
/* Utilites          */
/* ----------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* ----------------- */
/* Genral Styles     */
/* ----------------- */

body {
    text-align: center;
    color: lavender;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(212, 102, 229, 1);
}

/* ------------ */
/* Header       */
/* ------------ */

.u-list {
    display: flex;
    justify-content: space-evenly;
}

/* button */
.nav-toggle {
    padding: .5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 2rem;
    z-index: 1000;
    background: transparent;
}

/* hamburger */
.hamburger {
    background: brown;
    height: 10px;
    width: 60px;
    display: block;
    position: relative;
    transition: all 500ms ease-in-out;
    border-radius: 5px;
}

.hamburger::before,
.hamburger::after {
    background: #cd9640;
    height: 12px;
    width: 60px;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 15px;
    transition: all 500ms ease-in-out;
    border-radius: 0 0 5px 5px;
}

.hamburger::after {
    bottom: 15px;
    transition: all 500ms ease-in-out;
    border-radius: 5px 5px 0 0;
}

/* nav hidden */
.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: gray;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.u-list {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.l-item {
    list-style: none;
    background: #FEE440;
    box-shadow: 10px 8px black;
    font-size: 3rem;
    padding: .5rem;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.l-item:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
}

.nav-button {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/* nav open */
.nav-open .nav {
    transform: translateX(0);
}
.nav-open .nav-toggle {
    padding: 1.5rem;
    background: #0CF2DB;
    box-shadow: 8px 10px;
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(-45deg);
    width: 50px;
    background:rgba(212, 102, 229, 1);
}

.nav-open .hamburger::before {
    transform: rotate(45deg);
    opacity: 0%;
    width: 0;
    height: 0;
}

.nav-open .hamburger::after {
    transform: translateY(20px) rotate(90deg);
    border-radius: 5px;
    height: 10px;
    width: 100%;
    background: rgba(212, 102, 229, 1);
}

/* ------------- */
/* About Section */
/* ------------- */

.about-section {
    background: black;
    position: relative;
    height: 100vh;

    /* starfield */
    background-image:
    radial-gradient(5px 5px at 10px 20px, white, transparent),
    radial-gradient(2px 2px at 50px 370px, white, transparent),
    radial-gradient(3px 3px at 50px 260px, white, transparent),

    radial-gradient(2px 2px at 20px 40px, white, transparent),
    radial-gradient(4px 4px at 80px 45px, white, transparent),
    radial-gradient(3px 3px at 70px 140px, white, transparent),

    radial-gradient(2px 2px at 280px 240px, white, transparent),
    radial-gradient(4px 4px at 290px 260px, white, transparent),
    radial-gradient(3px 3px at 270px 100px, white, transparent),

    radial-gradient(2px 2px at 380px 40px, white, transparent),
    radial-gradient(4px 4px at 390px 60px, white, transparent),
    radial-gradient(3px 3px at 370px 100px, white, transparent);

background-repeat: repeat;
background-size: 400px 400px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.land {
    width: 73vw;
    height: 252px;
    margin: 0 auto;
    background-color: black;

    /* grid image */
    background-image: linear-gradient(90deg, rgba(212, 102, 229, 1) 2px, transparent 0px),
        linear-gradient(rgba(212, 102, 229, 1) 2px, transparent 1%);
    background-size: 50px 50px;

    /* perspective for grid */
    transform: perspective(100px) rotateX(3deg);

    position: absolute;
    z-index: 1;
    bottom: -363px;
}

.image-wrapper {
    position: relative;
    z-index: 1;
    margin: 1rem;
    padding-top: 158px;
}

.selfie {
    width: 80%;
    max-width: 332px;
    border-radius: 50%;
    border: 3px solid;
    transform: rotate(-3deg);
}

/* Bubble */
.my-words {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 1rem;
    z-index: 1;
    border: 2px solid #0CF2DB;
    border-radius: 5px;
}

/* bubble arrow */
.my-words::before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: 47px solid transparent;
    border-bottom-color: #0CF2DB;
    left: 50px;
    top: -85px;
}

h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(rgba(12, 242, 219, 1), rgba(212, 102, 229, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pg1 {
    font-size: 1.5rem;
}
.pg1 > em {
    color:rgba(12, 242, 219, 1);
}
p {
    margin: 1.25rem 1.25rem;
}

/* ---------------- */
/* Projects Section */
/* ---------------- */

.projects-section {
    background: lavender;
    color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header2-wrapper {
    padding: 2rem;
    background: #0CF2DB;
    border-radius: 0 0 5px 5px;
}

.projects-header {
    padding: 40px 0 20px 0;
    font-size: 4rem;
    letter-spacing: .2rem;
    position: relative;
    z-index: 1;
}

.projects-header::after {
    content: '';
    height: 15px;
    position: absolute;
    width: 100%;
    background: rgb(212, 102, 229);
    bottom: 33px;
    left: 0;
    z-index: -1;
}

.fem-header {
    color: ;
    padding: 10px 0 10px 0;
    font-size: 1.2rem;
    font-weight: 300;
    background: #FEE440;
    width: auto;
    display: inline;
    box-shadow: 5px 4px 0px black;
}

.project {
    width: 80%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.screenshot {
    max-width: 50%;
    max-height: 50%;
    margin-top: 1rem;
}

.project-p {
    transition: none;
}

.project-p:hover {
    transform: none;
    transition: none;
}

.button {
    display: inline-block;
    width: 5.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-radius: 5px;
    background-color: ;
    text-decoration: none;
    color: black;
    margin: 0.6rem;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.more-projects {
    margin-bottom: 2rem;
}

.frm-link {
    text-decoration: none;
    color: black;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.frm-link:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* --------------- */
/* Contact Section */
/* --------------- */

.contact-section {
    height: auto;
    background-image: linear-gradient(90deg, rgb(212, 102, 229) 2px, transparent), linear-gradient(rgb(212, 102, 229) 2px, transparent);
    background-size: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.get-in-touch-wrapper {
    background-color: black;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    padding: 2rem;
}

.get-in-touch {
    font-size: 3rem;
    border-bottom: 3px solid;
}

.get-in-touch::after {}

.social-links-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons-link {
    text-decoration: none;
    margin: 0.5rem;

}

.fab,
.fas {
    color: lavender;
}

.fab:hover,
.fas:hover {
    transform: scale(1.10);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.about-site {
    background: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem;
}

.about-h3-wrapper {
    border-bottom: 2px solid lavender;
    width: 100%;
}

.about-site-ul {
    padding: 2rem;
    text-align: left;
}

/* -------------- */
/* Footer         */
/* -------------- */

footer {
    background: linear-gradient(transparent, #0CF2DB);
    font-size: 12px;
    padding: 20px;
    color: black;
}
/* -------------- */
/*                */
/* Desktop Layout */
/*                */
/* -------------- */

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    /* header */
    header {
        background: transparent;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 0px;
        z-index: 2;
        /* box-shadow: 0px 1px 10px black; */
    }
    /* navigation */
    .nav {
       transform: translateX(0);
       position: static;
       background: transparent;
    }

    /* button */
    .nav-toggle {
        display: none;
    }

    .u-list {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        padding-left: .5rem;
    }

    .l-item {
        font-size: 1.3rem;
    }

    /* ------------- */
    /* About Section */
    /* ------------- */

    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .image-wrapper {
        padding: 2rem;
        margin: 0;
        margin-right: 35px;
    }

    .selfie {
        width: auto;
        height: auto;
    }

    

    .about-wrapper {
        display: flex;
        flex-direction: row;
    }

    /* bubble triangle */

    .my-words {
        max-width: 700px;
    }

    .my-words::before {
        border-bottom-color: transparent;
        border-right-color: #0CF2DB;
        left: -94px;
        top: 251px;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    p {
        margin: 1.25rem auto;
        font-size: 1.25rem;
    }

    /* Projects Section */
    .projects-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        align-items: normal;
    }

    .project-p {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .header2-wrapper {
        grid-area: 1/2/2/4;
    }

    .project-one {
        grid-area: 2/2/3/3;
        justify-self: center;
    }

    .project-two {
        grid-area: 2/3/3/4;
        justify-self: center;
        align-self: stretch;
    }

    .project-three {
        grid-area: 3/2/4/3;
        justify-self: center;
    }

    .project-four {
        grid-area: 3/3/4/4;
        justify-self: center;
        align-self: stretch;
    }

    .more-projects {
        grid-area: 4/2/5/4;
        justify-self: center;

    }

    footer p {
        font-size: .8rem;
    }
}