/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {

    /* ----COLORS---- */
    --clr-green-light: rgb(142, 197, 191);
    /* 80's theme */
    --clr-purple: rgba(212, 102, 229, 1);
    --clr-green: rgba(12, 242, 219, 1);
    --clr-yellow: rgb(254, 228, 64);

    /* ? */
    --clr-lavender: (rgb(230, 230, 250));
    --clr-dark-bg: rgb(41, 41, 41);
    /* hamburger colors */
    --clr-burger: rgb(165, 42, 42);
    --clr-buns:  rgb(205, 150, 64);

    /* neutral colors */
    --clr-light: rgb(255, 255, 255);
    --clr-med: rgb(128, 128, 128);
    --clr-dark: rgba(0, 0, 0, 1);

    /* transparent */
    --clr-clear: transparent;

    /* gradients */
    --grd-1: linear-gradient(90deg, rgba(12, 242, 219, 1), rgba(212, 102, 229, 1));
    /* patterns */
    --ptrn-2: conic-gradient(#fff 0.25turn, #000 0.25turn 0.5turn, #fff 0.5turn 0.75turn, #000 0.75turn)
    top left / 25% 25% repeat;
}

/* ----------------- */
/* Reset             */
/* ----------------- */
*, 
*::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px;  /* 16px = 1rem */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ----------------- */
/* Utilites          */
/* ----------------- */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* ----------------- */
/* Genral Styles     */
/* ----------------- */

body {
    text-align: center;
    color: lavender;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgba(212, 102, 229, 1); */
}

em {
    font-weight: 300;
}

/* ----------- */
/* Dark theme */
/* ----------- */

/* body */
body.dark-theme {
    color: lavender;
    background-color: #000;
}
.header.dark-theme {
    background: rgb(41, 41, 41);
}
.toggle-button-wrapper small.dark-theme {
    color: lavender;
}
small.dark-theme {
    color: lavender;
}

.e-links.dark-theme {
    color: var(--clr-green);
}

/* projects section */
.projects-section.dark-theme {
    color: inherit;
    background: var(--clr-dark-bg);
}

.project.dark-theme {
    background: rgb(26, 25, 25);
}
.button.dark-theme {
    color: #dad7d7;
}
.about-section.dark-theme {
    background: #1f1f20;
    color:#dad7d7;
}
.em1.dark-theme {
    color: black;
}
.contact-section.dark-theme {
    background: #424242;
    color:#dad7d7;
}

.fab.dark-theme,
.fas.dark-theme {
    color: #dad7d7;
}

/* ------------ */
/* Header       */
/* ------------ */

.header {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.u-list {
    display: flex;
    justify-content: space-evenly;
}

/* button */
.nav-toggle {
    cursor: pointer;
    right: 0;
    z-index: 1000;
    background: transparent;
}

/* hamburger */
.hamburger {
    background: #a87373;
    height: 4px;
    width: 38px;
    display: block;
    position: relative;
    transition: all 700ms ease-in-out;
    border-radius: 5px;
}

.hamburger::before,
.hamburger::after {
    background: #eecb93;
    height: 5px;
    width: 38px;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
    transition: all 500ms ease-in-out;
    border-radius: 0 0 5px 5px;
}

.hamburger::after {
    bottom: 8px;
    transition: all 500ms ease-in-out;
    border-radius: 5px 5px 0 0;
}

/* nav hidden */
.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: #373737;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.u-list {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.l-item {
    list-style: none;
    background: #FEE440;
    border-radius: 3px;
    box-shadow: 10px 8px black;
    font-size: 3rem;
    padding: .5rem;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.l-item:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.l-item:focus-within {
    outline: dashed 2px lightgrey;
    outline-offset: 5px;                
}

.nav-button {
    text-decoration: none;
    // text-transform: uppercase;
    color: black;
}

a:focus {
    outline: dashed 2px lightgrey;
    outline-offset: 5px;
}

/* nav open */
.nav-open .nav {
    transform: translateX(0);
}
.nav-open .nav-toggle {
    // padding: 1.5rem;
    // background: #0CF2DB;
    // box-shadow: 8px 10px;
    position: fixed;
    border-radius: 3px;
}

.nav-open .hamburger {
    transform: rotate(-45deg);
    width: 45px;
    background:rgba(212, 102, 229, 1);
    margin-right: 10px;
}

.nav-open .hamburger::before {
    transform: rotate(45deg);
    opacity: 0%;
    width: 0;
    height: 0;
}

.nav-open .hamburger::after {
    transform: translateY(15px) rotate(90deg);
    border-radius: 5px;
    height: 9px;
    width: 100%;
    background: rgba(212, 102, 229, 1);
    bottom: 13px;
}

 /* toggle button*/
.toggle-button-wrapper small {
    color: #000;
    padding-right: .5rem;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 10px;
}

.toggle-button-wrapper small:last-of-type {
    padding-right: 0;
    padding-left: .5rem;
}

/* https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 22px;
  }

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background: var(--grd-1);
  }

    /* on focus */
  input:focus + .slider {
    outline: dashed 2px lightgrey;
    outline-offset: 5px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background: #302c2c;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* ------------------ */
/* Intro/Home Section */
/* ------------------ */

.intro-section {
    background: black;
    position: relative;
    min-height: 100vh;

    /* starfield */
    background-image:
    radial-gradient(5px 5px at 10px 20px, white, transparent),
    radial-gradient(2px 2px at 50px 370px, white, transparent),
    radial-gradient(3px 3px at 50px 260px, white, transparent),

    radial-gradient(2px 2px at 20px 40px, white, transparent),
    radial-gradient(4px 4px at 80px 45px, white, transparent),
    radial-gradient(3px 3px at 70px 140px, white, transparent),

    radial-gradient(2px 2px at 280px 240px, white, transparent),
    radial-gradient(4px 4px at 290px 260px, white, transparent),
    radial-gradient(3px 3px at 270px 100px, white, transparent),

    radial-gradient(2px 2px at 380px 40px, white, transparent),
    radial-gradient(4px 4px at 390px 60px, white, transparent),
    radial-gradient(3px 3px at 370px 100px, white, transparent);

    background-repeat: repeat;
    background-size: 400px 400px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.land {
    width: 73vw;
    height: 252px;
    margin: 0 auto;
    background-color: black;

    /* grid image */
    background-image: linear-gradient(90deg, rgba(212, 102, 229, 1) 2px, transparent 0px),
        linear-gradient(rgba(212, 102, 229, 1) 2px, transparent 1%);
    background-size: 50px 50px;

    /* perspective for grid */
    transform: perspective(100px) rotateX(3deg);

    position: absolute;
    z-index: 1;
    bottom: -363px;
}

.image-wrapper {
    position: relative;
    z-index: 1;
    margin: 2rem 0;
}

.selfie {
    width: 80%;
    max-width: 332px;
    border-radius: 50%;
    border: 3px solid;
    transform: rotate(-3deg);
}

/* Bubble */
.my-words {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 1rem 0;
    z-index: 1;
    border: 2px solid #0CF2DB;
    border-radius: 5px;
    margin: 0 1rem;
}

.my-words em {
    font-weight: 300;
}

/* bubble arrow */
.my-words::before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border: 47px solid transparent;
    border-bottom-color: #0CF2DB;
    left: 50px;
    top: -85px;
}

h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(rgba(12, 242, 219, 1), rgba(212, 102, 229, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pg1 {
    font-size: 1.5rem;
}

.pg1 > em {
    color:rgba(12, 242, 219, 1);
}

p {
    margin: 1.25rem 0;
}

/* ---------------- */
/* Projects Section */
/* ---------------- */

.projects-section {
    background: #eeeeee;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.header2-wrapper {
    padding: 2rem 0;
    background: inherit;
    border-radius: 0 0 5px 5px;
}

.projects-header {
    padding: 40px 0 20px 0;
    font-size: 4rem;
    letter-spacing: .2rem;
    position: relative;
    z-index: 1;
}

.projects-header::after {
    content: '';
    height: 15px;
    position: absolute;
    width: 100%;
    background: rgb(208, 8, 239);
    bottom: 33px;
    left: 0;
    z-index: -1;
}

.fem-header {
    padding: .7rem 1rem;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 300;
    background: #FEE440;
    width: auto;
    display: inline;
    box-shadow: 5px 4px 0px black;
}

.project {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

.project p {
    margin: 0;
}

.screenshot {
    max-width: 95%;
    margin-top: 1rem;
    border-radius: 5px;
}

.project-p {
    transition: none;
}

.project-p:hover {
    transform: none;
    transition: none;
}

.button {
    display: inline-block;
    width: 5.5rem;
    height: 1.5rem;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 0.6rem;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.more-projects {
    margin-bottom: 2rem;
    padding: 1rem 2rem;
}

.more-projects a {
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
}

.more-projects a:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fem-link {
    text-decoration: none;
    color: black;
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.fem-link.dark-theme {
    color: #efefef;
}

.frm-link:hover {
    transform: scale(1.10);
    transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* --------------- */
/* About Section   */
/* --------------- */

.about-section {
    color: black;
    background: #f5f5f5;
}

.about-site {
    margin: 0 1rem;
}
.about-text-wrapper {
    margin: 0 auto;
}

.about-text-wrapper p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.9;
    padding: 20px 0;
    margin: 0 1rem;
}

.about-text-wrapper {
    font-weight: 300;
}

/* --------------- */
/* Contact Section */
/* --------------- */

.contact-section {
    background: #fafafa;
    color: black;
}

/* Social links */
.social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.social-icons-link {
    margin: 0.5rem;
}

.fab,
.fas {
    color: black;
}

.fab:hover,
.fas:hover {
    transform: scale(1.10);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* tools and technoligies for site */
.about-site {
    padding-bottom: 5rem;
}

.about-site h3 {
    padding: 1rem 0;
}

.ul-wrapper h4 {
    text-decoration: 2px underline;
    text-underline-offset: 2px;
}

.ul-wrapper ul {
    padding: 1rem 0;
}

.about-site ul {
    padding: 1rem 0;
}

/* text highlight style*/
/* the span element*/ 
.highlight {
    border-radius: 6px;
    padding: 3px 6px;
    position: relative;
    z-index: 1;
    color: #000;
}

.highlight::after {
    content: '';
    box-shadow: 0px 10px 0px 13px pink;
    width: 100%;
    display: inline-block;
    z-index: -1;
    position: absolute;
    right: 0;
    transform: rotate(1deg);
}

.ul-lists-wrapper {
    padding: 1rem 0;
}

/* -------------- */
/* Footer         */
/* -------------- */

footer {
    background: linear-gradient(35deg,rgb(212, 102, 229), #0CF2DB);
    font-size: 12px;
    padding: 20px;
    color: black;
}

footer .about-site {
    padding-bottom: 0;
}
.about-site p span::after {
    transform: rotate(-1deg);
    box-shadow: -9px 10px 0px 13px pink;
}

.footer-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-text-madewith, .footer-text-copyright {
    display: inline-block;
}

/* ---------------- */
/*                  */
/*  Desktop Layout  */
/*                  */
/* ---------------- */
        /*  */

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    /* header */
    .header {
        
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: sticky;
        top: 0px;
        z-index: 2;
        justify-content: space-between;
    }

    /* navigation */
    .nav {
       transform: translateX(0);
       position: static;
       background: transparent;
       margin-right: 1rem;
    }

    /* button */
    .nav-toggle {
        display: none;
    }

    .u-list {
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
        padding-left: .5rem;
    }

    .l-item {
        font-size: 1.3rem;
    }

    /* ------------- */
    /* About Section */
    /* ------------- */

    .intro-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-wrapper {
        flex-direction: row;
        justify-content: center;
    }

    .image-wrapper {
        padding: 2rem;
        margin: 0;
        margin-right: 35px;
    }

    .selfie {
        width: auto;
        height: auto;
    }

    .about-wrapper {
        display: flex;
        flex-direction: row;
    }

    /* bubble triangle */
    .my-words {
        max-width: 700px;
    }

    .my-words::before {
        border-bottom-color: transparent;
        border-right-color: #0CF2DB;
        left: -94px;
        top: 251px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.25rem;
    }

    /* Projects Section */
    .projects-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;
        align-items: normal;
    }

    .project-p {
        width: 100%;
    }

    .project {
        width: 100%;
    }

    .header2-wrapper {
        grid-area: 1/1/2/5;
    }

    .projects-header {
        display: inline;
    }

    .project-one {
        grid-area: 2/2/3/3;
        justify-self: center;
    }

    .project-two {
        grid-area: 2/3/3/4;
        justify-self: center;
        align-self: stretch;
    }

    .project-three {
        grid-area: 3/2/4/3;
        justify-self: center;
    }

    .project-four {
        grid-area: 3/3/4/4;
        justify-self: center;
        align-self: stretch;
    }

    .more-projects {
        grid-area: 4/2/5/4;
        justify-self: center;

    }

    footer p {
        font-size: .8rem;
    }

    /* About section */
    .about-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 70%;
    }
}