
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 16px; /* 16px = 1rem */
}

body {
    text-align: center;
    color:lavender;
    min-width: 375px;
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
}

p {
    margin: 1.25rem 1.25rem;
}

/* Drop shadow for text */
h1, h2, h3, .nav-button, footer {
    filter: drop-shadow(1px 1px 0px dimgrey);
}

/* Header */
header {
    background-color: cornflowerblue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid lavender;
}

/* Navbar */
.u-list {
    display: flex;
    justify-content: space-evenly;
}

.l-item {
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: lavender;
    filter: drop-shadow(1px 1px 0px dimgrey);
}

.nav-button:hover {
    color: lightcoral;
}

/* About Section */
.about-section {
    background: linear-gradient(cornflowerblue, lightcoral);
    height: 100vh;
    border-bottom: 2px solid lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.image-wrapper {
    background-color: lavender;
    width: 220px;
    height: 220px;
    display: inline-block;
    border-radius: 20%;
    margin: 6.25rem 0 2.5rem 0;
}

.selfie {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    mix-blend-mode: multiply;
    filter:grayscale() drop-shadow(2px 2px 2px dimgrey);
}

h1 {
   margin: 2.5rem 1.25rem;
   font-size: 3rem;
}



/* Projects Section */
.projects-section {
    background: lavender;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.projects-header {
    color:lightcoral;
    padding: 40px 0 20px 0;
}
.fem-header {
    color:lightcoral;
    padding: 10px 0 10px 0;
}

.project {
    width: 80%;
    height: auto;
    border: 2px solid lightcoral;
    border-radius: 5px;
    color: lightcoral;
    margin: 0.3rem;
}

/* .project:hover {
    background: linear-gradient( lavender, cornflowerblue);
    color: lavender;
    filter: drop-shadow(2px 2px 2px dimgrey);
} */

.screenshot {
    max-width: 50%;
    max-height: 50%;
    margin-top: 1rem;
}

.button {
    display: inline-block;
    width: 5.5rem;
    height: 1.5rem;
    border: 1px solid lightcoral;
    border-radius: 5px;
    background-color:lavender;
    text-decoration: none;
    color: lightcoral;
    margin: 0.6rem;
}

.button:hover {
    background: linear-gradient( cornflowerblue, lightcoral);
    color: lavender;
    filter: drop-shadow(2px 2px 2px dimgrey);
}
.more-projects {
    margin-bottom: 2rem;
}
.frm-link {
    text-decoration: none;
    color: lightcoral;
}
.frm-link:hover {
    color: lavender;
    background: linear-gradient( cornflowerblue, lightcoral);
}

/* Contact Section */
.contact-section {
   height: auto;
   background: linear-gradient(lightcoral, cornflowerblue);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.get-in-touch {
    padding-top: 1.9rem;
    font-size: 3rem;
    margin: 6.25rem 1.25rem 0 1.25rem;
}

.social-links-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons-link {
    text-decoration: none;
    margin: 0.5rem;

}

.fab, .fas {
    color: lavender;
}

.about-site {
    border: 2px solid lavender;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.about-h3-wrapper {
    border-bottom: 2px solid lavender;
    width: 100%;
}

.about-site-ul {
    padding: 2rem;
}


/* Footer */
footer {
    background-color: cornflowerblue;
    font-size: 12px;
    padding: 20px;
}




@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }
    
    .image-wrapper {
        width: 320px;
        height: 320px;
    }

    .selfie {
        width: auto;
        height: auto;
    }

    /* Projects Section */
    .projects-section {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .header2-wrapper {
        grid-area: 1/2/2/4;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
    }

    .project-one{
       grid-area: 2/2/3/3;
       justify-self: center;
    }
    .project-two{
        grid-area: 2/3/3/4;
        justify-self: center;
        align-self: stretch;
    }
    .project-three{
        grid-area: 3/2/4/3;
        justify-self: center;
    }
    .project-four{
        grid-area: 3/3/4/4;
        justify-self: center;
        align-self: stretch;
    }
    .more-projects {
        grid-area: 4/2/5/4;
        justify-self: center;
       
    }
}