
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    text-align: center;
    color:lavender;
    min-width: 375px;
    font-family: 'Audiowide', cursive;
    background-color: cornflowerblue;
}

/* Header */
header {
    background-color: cornflowerblue;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid lavender;
}

/* Navbar */
ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: lavender;
}

.nav-button:hover {
    color: lightcoral;
}

/* About Section */
.about-section{
    background: linear-gradient(cornflowerblue, lightcoral) ;
    height: 100vh;
    border-bottom: 2px solid lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image-wrapper {
    background-color: lavender;
    width: 220px;
    height: 220px;
    display: inline-block;
    border-radius: 20%;
}

.selfie {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    border:;
    filter:grayscale() drop-shadow(2px 5px 1px lavender);
    mix-blend-mode: multiply;
}

h1 {
   margin-top: 20px;
   font-size: 3em;
}

p {
    margin-top:20px;
}

/* Projects Section */
.projects-section {
    background-color: lavender;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    overflow: ;
}

.projects-header {
    grid-area: 1/1/2/2;
    align-self:center;
    transform:rotate(-90deg);
    font-size: 5em;
    color:lightcoral;
}

.projects-container {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 40px 0;
}

.project {
    width: 80%;
    height: auto;
    background-color: ;
    border: 3px solid lightcoral;
    border-radius: 8px;
    color: cornflowerblue;
    margin: 2px;
}

.project:hover {
    background: cornflowerblue;
    color: lavender;
    filter: drop-shadow(2px 2px 2px cornflowerblue);
}

.screenshot {
    max-width: 50%;
    max-height: 50%;
    margin-top: 15px;
}

.button {
    display: inline-block;
    width: 5.5em;
    height: 1.5em;
    border: 1px solid lightcoral;
    border-radius: 5px;
    background-color:lavender;
    text-decoration: none;
    color: lightcoral;
    margin: 10px;
}

.button:hover {
    background: lightcoral;
    color: lavender;
    filter:drop-shadow(3px 2px 1px linear-gradient(lightcoral, cornflowerblue))
}

/* Contact Section */
.contact-section {
   height: 100vh;
   background: linear-gradient(lightcoral, cornflowerblue);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

h3 {
    padding-top: 30px;
    font-size: 3em;
}

.social-icons-link {
    text-decoration: none;
}

.fab, .fas, .fr-mentor {
    color: lavender;
}
/* Footer */
footer {
    background-color: cornflowerblue;
}



@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
}