
* {
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    text-align: center;
    color:lavender;
    min-width: 375px;
    font-family: 'Audiowide', cursive;
    background-color: cornflowerblue;
}
/* Drop shadow for text */
h1, h2, h3, p, .nav-button, footer {
    filter: drop-shadow(1px 1px 0px dimgrey);
}

/* Header */
header {
    background-color: cornflowerblue;
    padding-top: 15px;
    padding-bottom: 15px;
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: 1px solid lavender;
}

/* Navbar */
ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.nav-button {
    text-decoration: none;
    color: lavender;
    filter: drop-shadow(1px 1px 0px dimgrey);
}

.nav-button:hover {
    color: lightcoral;
}

/* Side Menu */
.side-menu {
    border: 1px solid pink;
    background-color: lightcoral;
    border-radius: 5px;
    transform: rotate(-10deg);
    display: none;
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 1;
  }
  .side-nav-button {
    text-decoration: none;
    color: lavender;
    filter: drop-shadow(1px 1px 0px dimgrey);
    font-size: 1em;
  }

/* About Section */
.about-section{
    background: linear-gradient(cornflowerblue, lightcoral);
    height: 100vh;
    border-bottom: 2px solid lavender;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image-wrapper {
    background-color: lavender;
    width: 220px;
    height: 220px;
    display: inline-block;
    border-radius: 20%;
}

.selfie {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    mix-blend-mode: multiply;
    filter:grayscale() drop-shadow(2px 2px 2px dimgrey);
}

h1 {
   margin-top: 20px;
   font-size: 3em;
}

p {
    margin-top:20px;
}

/* Projects Section */
.projects-section {
    background-color: lavender;
    height: auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
}

.header2-wrapper {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    transform:rotate(-10deg);
    font-size: ;
    color:lightcoral;
    position: relative;
    top: 40px;
}

.projects-container {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 40px 0;
}

.project {
    width: 80%;
    height: auto;
    border: 3px solid lightcoral;
    border-radius: 8px;
    color: cornflowerblue;
    margin: 2px;
}

.project:hover {
    background: linear-gradient( lavender, cornflowerblue);
    color: lavender;
    filter: drop-shadow(2px 2px 2px dimgrey);
}

.screenshot {
    max-width: 50%;
    max-height: 50%;
    margin-top: 15px;
}

.button {
    display: inline-block;
    width: 5.5em;
    height: 1.5em;
    border: 1px solid lightcoral;
    border-radius: 5px;
    background-color:lavender;
    text-decoration: none;
    color: lightcoral;
    margin: 10px;
}

.button:hover {
    background: linear-gradient( cornflowerblue, lightcoral);
    color: lavender;
    filter: drop-shadow(2px 2px 2px dimgrey);
}

.frm-link {
    text-decoration: none;
    color: lightcoral;
}

/* Contact Section */
.contact-section {
   height: 100vh;
   background: linear-gradient(lightcoral, cornflowerblue);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

h3 {
    padding-top: 30px;
    font-size: 3em;
}

.social-icons-link {
    text-decoration: none;
}

.fab, .fas {
    color: lavender;
}
/* Footer */
footer {
    background-color: cornflowerblue;
}




@media (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    header {
        display: none;
    }
    .side-menu {
        display: inline-block;
    }
    h2 {
        transform: rotate(-90deg);
        left: 175px;
        top: 200px;
        margin: 0 60px 0 60px;
    }
}