
:root {

    /* ----COLORS---- */

    /* 80's theme */
    --clr-purple: rgba(212, 102, 229, 1);
    --clr-green: rgba(12, 242, 219, 1);
    --clr-yellow: rgb(254, 228, 64);

    /* ? */
    --clr-lavender: (rgb(230, 230, 250));
    --clr-bg: rgb(139, 173, 223);

    /* hamburger colors */
    --clr-burger: rgb(165, 42, 42);
    --clr-buns:  rgb(205, 150, 64);

    /* neutral colors */
    --clr-light: rgb(255, 255, 255);
    --clr-med: rgb(128, 128, 128);
    --clr-dark: rgba(0, 0, 0, 1);

    /* transparent */
    --clr-clear: transparent;
}